* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body {
  font-size: 20px;
}

.container {
  width: 800px;
  margin: 50px auto;
  border: 4px solid #000;
  position: relative;
}

.container::before {
  display: inline;
  content: "sale";
  background-color: #ff0000;
  color: white;
  letter-spacing: 3px;
  padding: 5px;
  text-transform: uppercase;
  position: absolute;
  top: -12px;
  left: -37px;
}
.main-heading {
  background-color: #f7f7f7;
  color: black;
  text-align: center;
  padding: 10px;
}
p {
  margin-bottom: 10px;
}
.price {
  font-size: 30px;
  font-weight: bold;
}

.free-shipping {
  color: #444;
}

.more-information {
  margin-bottom: 10px;
}

.color-option {
  margin-left: 5px;
  margin-bottom: 10px;
}
.square {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.color-red {
  background-color: #ff0000;
}

.color-black {
  background-color: #000;
}

.color-green {
  background-color: #00ff00;
}

.color-yellow {
  background-color: #ffff00;
}

.color-blue {
  background-color: #0000ff;
}

.color-brown {
  background-color: #a52a2a;
}

a:link,
a:visited {
  color: #000;
}

a:hover,
a:active {
  text-decoration: none;
}

.list-title,
ul,
li {
  margin-bottom: 10px;
}
ul {
  list-style: square;
}

li {
  margin-left: 20px;
}

li:last-child {
  margin-bottom: 0;
}
.add-to-cart {
  background-color: #000;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  border: none;
  text-transform: uppercase;
  padding: 15px;
  width: 100%;
}
.add-to-cart:hover {
  color: #000;
  background-color: #fff;
  border-top: 4px solid #000;
}
